<header class="main-header">
    <div class="conteinerHeader">
        <div class="col-5 col-md-2">
            <a href="/" class="main-header_home-link">
                <img src="/images/logo.png">
            </a>
        </div>
        <div class="row align-items-center containerHeader">

            <div class="buscador">
                <form action="/product/search" method="GET" class="search-form">
                    <input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>    

            <button class="btn-toggle-navbar">
                <i class="fas fa-bars"></i>
            </button>
        <nav>
            <ul class="right-navbar">
                <li >
                    <a href="/profile/register">Sign in 
                    </a>
                </li>
                <li class="login">
                    <a href="/profile/login">Log in </a>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="/">Todos los productos</a></li>
        </ul>
    </nav>
</header>