<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body class="bodyLog">
		<!-- Header -->
		<%- include('./partials/header') %>
		
		<main class="mainLog">

			<h1 class="products-title">¡Que lindo verte de nuevo!      <i class="fa-regular fa-face-grin-beam  fa-xs" style="color: var(--gray);"></i> </h1>
		
			<section class="products-wrapper containerLog">
				<section class="row">

					<article class="col-12">
						<h2 class="products-title titleLog">Log in</h2>
					</article>
						
					<form action="/profile" method="get" class="formLog">

						<article class="inputForm">
							<i class="fa-solid fa-envelope fa-xl icon"></i>
							<input type="email" name="email" placeholder="ej. elon@musk.com" >
						</article>

						<article class="inputForm">
							<i class="fa-solid fa-lock fa-xl icon"></i>
							<input type="password" name="contrasenia" placeholder="ej. Ilovemangos123" >
						</article>

						<button type="submit" class="ingresar">Ingresar</button>

						<article class="inputRecordar">
							<p class="recordar">¿Querés que te recordemos? </p>
							<input class="recordar" type="checkbox" name="recordame" class="inputForm">
						</article>

					</form>

				</section>
			</section>

			<p class="recordar">¿No tenés un perfil? <a href="/profile/register" class="crear">Registrate</a></p>

		</main>
		
		<!-- footer -->
		<section class="sectionLego">
			<img src="/images/lego.png" class="lego" alt="">
		</section>

		<%- include('./partials/footer') %>

	</body>

</html>