<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	<main class="mainLog">
		<!-- Novedades -->
		<h1 class="products-title">¡Que lindo verte de nuevo!      <i class="fa-regular fa-face-grin-beam  fa-xs" style="color: var(--gray);"></i> </h1>
	
		<div class="products-wrapper containerLog">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Log in</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<section class="sectionLog">
					
					<form action="" method="get" class="formLog">
						<div class="inputForm">
						<i class="fa-solid fa-envelope icon"></i>
						<input type="email" name="email" placeholder="ej. elonmusk@email.com" >
						</div>

						<div class="inputForm">
						<i class="fa-solid fa-lock icon"></i>
						<input type="password" name="contrasenia" placeholder="ej. Ilovemangos123" >
						</div>

						<p class="recordar">¿Queres que te recordemos? <input type="checkbox" name="recordame" class="inputForm"></p>

						<button type="submit" class="ingresar">Ingresar</button>
					</form>
					
				</section>
			</div>
		</div>
	</main>
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>