<!DOCTYPE html>
<html lang="es">
	<!-- Include Head -->
	<%- include('./partials/head') %>

	<body>
		<!-- Header -->
		<%- include('./partials/headerLogueado') %>
		
		<main class="mainLog">

			<section class="products-wrapper containerLog">
				<section class="row">

					<article class="col-12">
						<h2 class="products-title titleLog">Agregar productos</h2>
					</article>

					<form action="/" method="get" class="formLog">

						<article class="inputForm">
							<input type="text" name="producto" placeholder= "Nombre del producto" value="" class="text"> 
						</article>

						<article class="inputForm">
							<input type="text" name="descripcion" placeholder="Descripción" class="text">
						</article>

						<article class="inputForm">
							<input type="file" name="imgProducto" value="">
						</article>

						<button type="submit" class="ingresar">Agregar</button>

					</form>

				</section>
			</section>
		</main>
		
		<!-- footer -->
		<section class="sectionLego">
			<img src="/images/lego.png" class="lego" alt="">
		</section>
		<%- include('./partials/footer') %>

	</body>

</html>