<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->
	<main class="mainLog">
		<div class="products-wrapper containerLog containerEdit">
			<div class="row">

				<div class="col-12">
					<h2 class="products-title titleLog">Editar mi perfil</h2>
				</div>

				<form action="/" method="get" class="formLog">
					<div class="inputForm">
						<i class="fa-solid fa-envelope fa-xl icon"></i>
						<input type="email" name="email" placeholder="Email">
					</div>

					<div class="inputForm">
						<i class="fa-solid fa-user fa-xl icon"></i>
						<input type="text" name="usuario" placeholder="Usuario" class="text">
					</div>

					<div class="inputForm">
						<i class="fa-solid fa-lock fa-xl icon"></i>
						<input type="password" name="contrasena" placeholder="Contraseña">
					</div>

					<div class="inputForm">
						<input type="date" name="fechaDeNacimiento" placeholder="Fecha de Nacimiento">
					</div>

					<div class="inputForm">
						<i class="fa-solid fa-address-card fa-xl icon"></i>
						<input type="number" name="documento" placeholder="Número de Documento">
					</div>

					<div class="inputForm">
						<i class="fa-regular fa-image fa-xl icon"></i>
						<input type="text" name="fotodeperfil" placeholder="Foto de Perfil" class="text">
					</div>
					<button type="submit" class="cambios">Guardar cambios</button>
				</form>

			</div>
		</div>
	</main>
	<!-- footer -->
	<section class="sectionLego">
		<img src="/images/lego.png" class="lego" alt="">
	</section>
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>