<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	<main class="mainLog">

		<h1 class="products-title">¡Hola!      <i class="fa-regular fa-face-grin-beam  fa-xs" style="color: var(--gray);"></i> </h1>

		<section class="products-wrapper containerLog containerReg ">
			<section class="row">

				<article class="col-12">
					<h2 class="products-title titleLog">Sign in</h2>
				</article>

				<article>
					<form action="/profile/register" method="POST" class="formLog">
						<article class="inputForm">
							<i class="fa-solid fa-user fa-xl icon"></i>
							<input type="text" name="usuario" placeholder="Usuario" class="text">
						</article>
						
						<article class="inputForm">
							<i class="fa-solid fa-envelope fa-xl icon"></i>
							<input type="email" name="email" placeholder="Email">
						</article>

						<article class="inputForm">
							<i class="fa-solid fa-lock fa-xl icon"></i>
							<input type="password" name="contrasenia" placeholder="Contraseña">
						</article>

						<article class="inputForm">
							<input type="date" name="fecha_nacimiento" placeholder="Fecha de Nacimiento">
						</article>

						<article class="inputForm">
							<i class="fa-solid fa-address-card fa-xl icon"></i>
							<input type="number" name="documento" placeholder="Número de Documento">
						</article>

						<article class="inputForm">
							<i class="fa-regular fa-image fa-xl icon"></i>
							<input type="text" name="foto_perfil" placeholder="Foto de Perfil" class="text" value="">
						</article>

						<button type="text" class="ingresar">Registrar</button>

					</form>
				</article>

			</section>
		</section>

		<p class="recordar">¿Ya tenés un perfil? <a href="/profile/register" class="crear">Inicia sesión</a></p>

	</main>

	<!-- footer -->
	<section class="sectionLego">
		<img src="/images/lego.png" class="lego" alt="">
	</section>

	<%- include('./partials/footer') %>

</body>

</html>